<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="reporting" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <appSettings>
    <add key="Env" value="dev"/>
    <add key="Author" value="marcels"/>
  </appSettings>
      
  <reporting>
    <add key="Folder" value="TestResults"/>
    <add key="Enabled" value="true"/>
    <add key="DarkTheme" value="true"/>
    <add key="ShowSteps" value="true"/>
    <!--<add key="MongoDb" value="C:\Users\marcels\Desktop\mongodb\bin\mongod.exe"/>-->
  </reporting>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
